section{
  padding:0 10vh;
  display:none;
}
.container-fluid{
  max-width:1140px;
}
.quotes{
  padding-right:15%;
  text-align:justify;
}
.circle {
	border-radius: 50%;
	width: 2vh;
	height: 2vh;
  display:inline-block;
  min-height:10px;
  min-width:10px;
}
#color1{
  background-color:gray;
}
#color2{
  background-color:lightgray;
}
#color3{
  background-color:darkgray;
}
#color4{
  background-color:black;
}
.loader {
    border: 16px solid #f3f3f3;
  border-right:16px solid grey;
  border-top:16px solid lightgrey;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
  min-height:100px;
  min-width:100px;
}
#loader{
     border-bottom:16px solid grey;
  border-right:16px solid black;
  border-top:16px solid lightgrey;
  border-left:16px solid darkgrey;
}
#whyGive, #helpHome, #infoHome, #aboutHome, #donateHome, .padding-top{
  padding-top:10vh;
}
#quote, #infoQuote, #aboutQuote, #payBy{
  background:lightgrey;
}
.padding{
  padding:10vh 0;
}
.quote{
  max-width:60vh;
}
.margin{
  margin:auto;
}
.justify{
  text-align:justify;
}
#home, #helpImg, #giveImg {
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.7)), url("http://lorempixel.com/output/abstract-q-g-640-480-9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#welcome {
  margin: auto;
  position:relative;
  color:white;
  top: 30vh;
}
#welcomeHelp{
  font-size:12px;
}

.navbar {
  background: grey;
  border:none;
  text-transform:uppercase;
}
.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a {
    color: white;
}
footer {
  height:20vh;
  background: grey;
}
#footer{
  position:relative;
}
#payByBtn{
  width:50vh;
}
#payBy{
  padding-left:150px;
}
@media (max-width: 400px) {
  section{
  padding:0;
  }
}
@media (max-width: 768px) {
  .stats{
    text-align:center;
    vertical-align:middle;
  }
  .img-responsive{
    padding:0;
    background:red;
  }
  .h1, h1{
    font-size: 2em;
  }
  .h3, h3{
    font-size: 1.5em;
  }
  .h6, h6{
    font-size: 1.2em;
  }
  p{
    font-size: 1em;
  }
  #payBy{
  padding-left:10vh;
  }
}
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}